/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 20px #B0C4DE;
}
  
th, td {
    padding: 15px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #D3D3D3;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}
  
span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

h1{
    display: flex;
    justify-content: center;
}

#ComputerButtons{
    display: flex;
    justify-content: space-around;
}

#ComputerCreateDatesBack, #ComputerChooseTable, 
#ComputerNewMonitorBrands, #MonitorBrandsWarning, 
#MonitorModelsWarning, #ComputerNewMonitorModel,
#DiskCapasityWarning, #ComputerNewDiskCapasity,
#DiskBrandWarning, #ComputerNewDiskBrand,
#DiskModelsWarning, #ComputerNewDiskModels,
#ComputerStationWarning, #ComputerNewStationModels,
#ComputerOperatingSystemsWarning, #ComputerNewOperatingSystems,
#ComputerProcessorsWarning, #ComputerNewProcessors,
#ComputerRamWarning, #ComputerNewRam,
#ComputerDepartamentWarning, #ComputerNewDepartament,
#RowStationModel, #RowDepartaments,
#RowOperatingSystems, #RowMonitorModels,
#RowGoMonitorBrands, #RowMonitorBrands,
#RowProcessor, #RowRam, #RowDiskModels,
#RowGoDiskBrands, #RowDiskBrands,
#RowGoDiskCapasity, #RowDiskCapasity, 
#ChangesDatesGoBack, #WriteOfStationsGoBack,
#DeletedStationsGoBack, #ComputerNewConturs,
#ContursWarning, #RowContur, #WriteOfStationsExportDates,
#Logins, #UserButton, #UsersGoBack, #ComputerNewUsers, #ComputerUsersWarning{
    display: flex;
    justify-content: center;
}

#ComputerCreateDatesBack, #ComputerChooseTable, #WriteOfStationsExportDates{
    margin-top: 1%;
    margin-bottom: 1%;
}

#ComputerCreateDatesBack{
    margin-top: 4%;
    margin-bottom: 2%;
}

#RowStationModel, #RowDepartaments, #RowOperatingSystems, #RowMonitorModels, 
#RowProcessor, #RowRam, #RowDiskModels, #RowDiskBrands, #RowDiskCapasity, #RowContur{
    margin-top: 3%;
}

#RowGoMonitorBrands, #RowMonitorBrands, #RowGoDiskBrands, #RowGoDiskCapasity,
#MonitorBrandsWarning, #MonitorModelsWarning, #DiskCapasityWarning,
#DiskBrandWarning, #DiskModelsWarning, #ComputerStationWarning,
#ComputerOperatingSystemsWarning, #ComputerProcessorsWarning, #ComputerRamWarning,
#ComputerDepartamentWarning, #ContursWarning, #UsersGoBack, #ComputerNewUsers, #ComputerUsersWarning
{
    margin-top: 2%;
}

#Logins{
    margin-top: 15%;
}

#UserLogin, #UserPassword{
    margin-left: 2%;
    margin-right: 2%;
}

#ComputerNewUsersName, #ComputerNewUsersPassword, 
#ComputerNewUsersRole, #ComputerNewUsersOwner, #ComputerNewUsersButton{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#UserButton{
    margin-top: 5%;
}